.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

body{
  margin: 0;
  font-size: 28px;
}


/* NAVIGATION BAR */

.navbar{
  overflow: hidden;
  background-color: #078282FF;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Impact, Charcoal, sans-serif;
}

.navbar a:hover{
  background-color: white;
  color: black;
}

.navbar a.active{
  background-color: black;
  color: white;
}
.navbar a.lgo{
  background-color: #797F88;
  color: white;
  font-size: 17px;
}

.main{
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}

.resume-btn{
  top: 4px;
  right: 4px;
  height: 8px;
  text-align: center;
  line-height: 8px;
  position: absolute;
  text-decoration: none;
  background-color: #078282FF;
  color: white;
  font-family: "Impact", Charcoal, sans-serif;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.resume-btn:hover{
  color: #078282FF;
  background-color: white;
}

.header{
  background-color: #ffb3ff;
  padding: 50px 80px;
  text-align: center;
}

.header h1{
  line-height: 100px;
  height: 50px;
  font-family: "Londrina Shadow";
  font-size: 80px;
}


/* HOME PAGE */


.home{
  padding-top: 100px;
  padding-left: 20%;
  text-align: left;
}

.home p{
  line-height: 100px;
  height: 10px;
  font-size: 18px;
  font-family: "Lucida Console", Monaco, monospace;
}

.home h2{
  line-height: 100px;
  height: 35px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 50px;
  color: #5f0083;
}

.home h3{
  color: #c193ec;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 45px;
}

.socialIcon{
  padding: 0 20%;
}
.socialIcon i{
  text-decoration: none;
  color: black;
}



/* ABOUT */

.about{
  padding: 5% 20%;
  /* padding: 50px 240px; */
  text-align: left;
}

.about h3{
  font-family: "Arial Black", Gadget, sans-serif;
  line-height: 50px;
  height: 30px;
}

.about h4{
  font-size: 24px;
  font-family: "Lucida Console", Monaco, monospace;
  height: 2px;
}

.about h5{
  font-size: 18px;
  font-family: "Lucida Console", Monaco, monospace;
  height: 2px;
  padding-left: 1px;
}

.about p{
  font-size: 18px;
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 30px;
}

ul {
  margin-left: 16px;
  font-size: 18px;
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 30px;
}
li {
  padding-bottom: 8px;
}

.skills p{
  line-height: 25px;
  height: 10px;
  padding: 0px 3px;
}

.skillbar {
  background-color: black;
  border-radius: 13px;
  padding: 3px;
}


.java{
  background-color: #9E66FF;
  width: 50%;
  height: 14px;
  border-radius: 10px;
}

.c{
  background-color: #9E66FF;
  width: 60%;
  height: 14px;
  border-radius: 10px;
}

.htmlcss{
  background-color: #9E66FF;
  width: 50%;
  height: 14px;
  border-radius: 10px;
}

.python{
  background-color: #9E66FF;
  width: 80%;
  height: 14px;
  border-radius: 10px;
}

.r{
  background-color: #9E66FF;
  width: 20%;
  height: 14px;
  border-radius: 10px;
}

.ocaml{
  background-color: #9E66FF;
  width: 40%;
  height: 14px;
  border-radius: 10px;
}


/* PROJECT */

.project{
  padding: 5% 20%;
}
.project table{
  width: 100%;
  font-family: "Lucida Console", Monaco, monospace;
}
.project td{
  font-size: 18px;
}
.project th{
  font-family: "Arial Black", Gadget, sans-serif;
}

.project h3{
  font-family: "Arial Black", Gadget, sans-serif;
  line-height: 50px;
  height: 30px;
}

/* CLASSES */
.classes{
  padding: 5% 20%;
  /* padding: 50px 240px; */
  text-align: left;
}

.classes h3{
  font-family: "Arial Black", Gadget, sans-serif;
  line-height: 50px;
  height: 30px;
}

.classes h5{
  font-size: 18px;
  font-family: "Lucida Console", Monaco, monospace;
  height: 3px;
  padding-left: 1px;
}

.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #9E66FF;
   text-align: center;
}
